<div class="wrapper fadeInDown">
  <div id="content">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="./../../../assets/images/logo-MSSS.jpg" id="icon" alt="logo-MSSS" />
    </div>

    <h1 class="fadeIn second">Erreur 404</h1>

    <div class="fadeIn third">
      <h2>UH OH! Vous êtes perdus.</h2>
      <p>
        La page que vous cherchez n'existe pas. Comment vous vous êtes rendus
        ici est un mistère. Vous pouvez cliquer sur le bouton ci-dessous pour
        retourner à l'accueil.
      </p>
    </div>
    <a type="a" class="btn btn-primary" href="dashboard">Retour à l'accueil</a>
  </div>
</div>