<div class="wrapper fadeInDown">
  <div id="content">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="./../../../assets/images/logo-MSSS.jpg" id="icon" alt="logo-MSSS" />
    </div>

    <div class="container fadeIn second">
      <br /><br />
      <h1>Bonjour, {{citoyen.prenom}} {{citoyen.nom}}</h1>
      <h3>Bienvenue à votre page d'accueil</h3>
      <p>Vous êtes tuteur de {{nbEnfant}} enfants</p>
    </div>

    <div class="fadeIn third">
      <a type="a" class="btn btn-primary" href="requestPermis">
        Demander nouveau permis
      </a>
      <a type="a" class="btn btn-primary" href="renewPermis">Renouveller un permis existant</a>
      <a type="a" class="btn btn-primary" href="getPermis">Recevoir permis par courriel</a>
      <a type="a" class="btn btn-primary" href="createChild">Ajouter un enfant</a>
      <a type="a" class="btn btn-primary" href="logout">Déconnexion</a>
    </div>
  </div>
</div>