<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="./../../../assets/images/logo-MSSS.jpg" id="icon" alt="logo-MSSS" />
      <h3>Ajout d'un enfant de 16 ans et moins</h3>
    </div>
    <div class="fadeIn second">
      <form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
        <div *ngIf="validMessage != ''">
          <h3 class="has-info">{{ validMessage }}</h3>
        </div>
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input type="text" class="form-control" id="prenom" placeholder="Prenom" formControlName="prenom" />
        </div>
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" placeholder="Nom" formControlName="nom" />
        </div>
        <div class="form-group">
          <label for="numAssuranceSocial">Numéro d'assurance social</label>
          <input type="text" class="form-control" id="numAssuranceSocial" placeholder="Numéro d'assurance social"
            formControlName="numAssuranceSocial" />
        </div>
        <div class="form-group">
          <label for="male">Sexe</label><br />
          <div class="form-check">
            <input class="form-check-input" type="radio" id="male" name="sexe" value="male" formControlName="sexe" />
            <label for="male" class="form-check-label">Homme</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="female" name="sexe" value="female"
              formControlName="sexe" />
            <label for="female" class="form-check-label">Femme</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="other" name="sexe" value="other" formControlName="sexe" />
            <label for="other" class="form-check-label">Autre</label>
          </div>
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" class="form-control" id="age" formControlName="age" placeholder="Age" />
        </div>
        <div class="form-group">
          <label for="ville">Ville</label>
          <input type="text" class="form-control" id="ville" formControlName="ville" placeholder="Ville" />
        </div>

        <input type="submit" class="fadeIn third" value="Ajouter enfant" />
      </form>
    </div>
  </div>
</div>